/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #dcdbd6; /* Oatmeal */
    margin: 0;
    padding: 0;
    color: #222222;
}

.container {
    padding: 20px;
}

/* Toolbar styles */
.app-bar {
    background-color: #41403c !important;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0; /* Add padding for a taller toolbar */
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px !important;
    color: #ffffff; /* White text */
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-links .MuiButton-root {
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-transform: none;
    font-size: 20px !important;
}

.nav-links .MuiButton-startIcon {
    margin-right: 0.5rem;
}

/* Typography styles */
.h2-title {
    font-size: 2.5rem;
    font-weight: 600 !important;
    color: #222222; /* Umber */
    margin-top: 30px !important;
    text-align: center;
}

.h3-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: #222222; /* Umber */
    margin-bottom: 12px;
    text-transform: uppercase;
}

.book-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #222222;
    margin-bottom: 8px;
}

.book-author {
    font-size: 1rem;
    color: #666;
}

/* BookCard styles */
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.book-card:hover {
    transform: translateY(-10px);
}

.book-card .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
}

.book-card .book-details {
    flex: 1;
}

.book-card .book-title {
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    align-content: flex-end;
    text-align: -webkit-match-parent;
}

.book-card .book-author {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #757575;
}

.book-card .MuiCardMedia-root {
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.book-card .MuiFormControl-root {
    margin-top: 16px;
}

.book-card .MuiIconButton-root {
    align-self: center;
    margin-left: 5px;
    margin-top: 15px;
    width: 32px;
    height: 32px;
}

/* Dialog styles */
.dialog-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 50px !important;
}

.dialog-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.dialog-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 20px;
}

.dialog-author {
    font-size: 1.2rem;
    color: #757575;
    margin-bottom: 20px;
    padding-top: 5px;
}

.dialog-description {
    font-size: 1rem;
    color: #444;
    padding-top: 30px;
}

.action-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.delete-icon {
    margin-left: 20px;
    width: 32px;
    height: 32px;
}

/* Typography styles */
.MuiTypography-h4 {
    margin-bottom: 20px;
    color: #41403c;
}

/* Pagination styles */
.MuiPagination-root {
    display: flex;
    justify-content: center;
}

/* Snackbar styles */
.MuiSnackbar-root {
    bottom: 20px;
}

/* Header styles */

.header .MuiToolbar-root {
    display: flex;
    justify-content: space-between;
}

.header .nav-links {
    display: flex;
    gap: 20px;
}

.header .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.header .nav-link:hover {
    color: #ffeb3b;
}

/* Toolbar */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fffffc; /* White text */
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-links .MuiButton-root {
    text-transform: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-links .MuiButton-startIcon {
    margin-right: 0.5rem;
}

/* Sections for different statuses */
.section {
    margin-bottom: 32px;
    padding: 20px 50px;
    background: #fffffc;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Title for each section */
.section-title {
    margin-bottom: 16px;
    font-weight: bold;
    color: #3f51b5;
    text-transform: uppercase;
    text-align: center;
}

/* Divider between sections */
.divider {
    margin: 16px 0;
    background-color: #fffffc;
    height: 2px;
}

/* Search bar styles */
.search-bar {
    display: flex;
    margin-bottom: 20px;
    background-color: #fffffc;
    border-radius: 10px;
}

.search-input {
    flex-grow: 1;
}

.search-button {
    margin-left: 10px;
    background-color: #41403c !important; /* Oatmeal */
    min-width: 100px !important;
    text-transform: capitalize;

}

.section-title-collection {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500 !important;
    font-size: 24px;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
    text-align: center;
    padding-bottom: 20px;
    color: #56887d !important;
}

.book-item {
    margin-top: 0px !important;
}

/* Sort menu styles */
.sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    min-width: 150px;
}

.sort-label {
    width: 250px;
}


.sort-dropdown {
    margin-left: auto; /* Ensures the dropdown is positioned to the right */
    width: 250px !important;
}

.sort-container .MuiFormControl-root {
    min-width: 150px;
}

.sort-pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-pagination {
    margin: 30px;
}
